* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ecf2f8;
  font-family: "Barlow Semi Condensed", sans-serif;
}

#testimonial-grid-container {
  padding: 7% 7%;
}

.grid-item {
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  font-size: 13px;
}

.grid-item h4 {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.grid-item .name {
  font-size: 1rem;
}

.grid-item .content {
  opacity: 70%;
}

#testimonial-1 {
  background-color: #7541c8;
  color: #ffffff;
  position: relative;
}

#testimonial-2 {
  background-color: #48556a;
  color: #ffffff;
  z-index: 0;
}

#testimonial-3 {
  background-color: #ffffff;
  color: #48556a;
}

#testimonial-4 {
  background-color: #19212e;
  color: #ffffff;
}

#testimonial-5 {
  background-color: #ffffff;
  color: #48556a;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  z-index: 3;
}

.header img {
  border-radius: 50%;
  margin-right: 20px;
  border: 1px solid purple;
}

#quote {
  position: absolute;
  right: 17%;
  top: 0;
  z-index: 1;
}

@media (min-width: 576px) {
  #testimonial-grid-container {
    max-width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "first first second fifth"
      "third fourth fourth fifth";
  }

  .grid-item {
    margin-right: 20px;
  }

  #testimonial-1 {
    grid-area: first;
  }

  #testimonial-2 {
    grid-area: second;
  }

  #testimonial-3 {
    grid-area: third;
  }

  #testimonial-4 {
    grid-area: fourth;
  }

  #testimonial-5 {
    grid-area: fifth;
  }
}
